<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Script DayJS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <!-- Left col -->
            <section class="left-col">
                <!-- User section -->
                <div class="user-item">
                    <div class="user-image">
                        <img src="img/avatar_io.jpg" alt="Sofia-avatar">
                        <h5>Sofia</h5>
                    </div>
                    <div class="icons-user">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /User section -->
                <!-- Notifications section -->
                <div class="notifications">
                    <div class="notif-icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notif-item">
                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                        <div>
                            <a href="#">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Notifications section -->
                <!-- Input section -->
                <div class="input-section">
                    <div class="input-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <input 
                    type="text" 
                    placeholder="Cerca o inizia una nuova chat"
                    v-model="filterPerWord"
                    @keyup="filterContacts"
                    >
                </div>
                <!-- /Input section -->
                <!-- Chat card -->
                <div class="chats">
                    <div 
                    v-for="(element, index) in contacts"
                    v-if="element.visible === true"
                    class="item-card-chat" 
                    :class="currentUser === index ? 'active' : ''"
                    @click="checkCurrentUser(index)"
                    >
                        <div class="user-chat-image">
                            <img :src="'img/avatar' + contacts[index].avatar + '.jpg'" :alt="contacts[currentUser].name">
                            <div class="user-data">
                                <h5>{{ element.name }}</h5>
                                <div class="message-sent">{{ element.messages[element.messages.length - 1].message }}</div>
                            </div>
                        </div>
                        <div class="date-hour-sent-message">{{ element.messages[element.messages.length - 1].date }}</div>
                    </div>
                    <!-- /Chat card -->
                </div>
                
            </section>
            <!-- Right col -->
            <section class="right-col">
                <!-- User section -->
                <div class="user-item">
                    <div class="user-image">
                        <img :src="'img/avatar' + contacts[currentUser].avatar + '.jpg'" :alt="contacts[currentUser].name">
                        <div>
                            <h5>{{ contacts[currentUser].name }}</h5>
                            <div class="message-sent">Ultimo accesso {{ contacts[currentUser].messages[contacts[currentUser].messages.length - 1].date }}</div>
                        </div>    
                    </div>
                    <div class="icons-user">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /User section -->
                <!-- Chat P2P section -->
                <div class="chat-p2p" v-if="contacts[currentUser].messages.length > 0">
                    <div 
                    :class="item.status === 'sent' ? 'sent-mess' : 'received-mess'" 
                    v-for="(item, index) in contacts[currentUser].messages"
                    >
                        <p>{{ item.message }}</p>
                        <i class="fas fa-chevron-down">
                            <div class="menu">
                                <p>Message info</p>
                                <p @click="deleteMessage(index)">Delete message</p>
                            </div>
                        </i>
                        <div class="date-hour-sent-message">{{ item.date }}</div>
                    </div>


                </div>
                <!-- /Chat P2P section -->
                <!-- Input section -->
                <div class="input-section">
                    <div class="chat-input-icon">
                        <i class="far fa-smile"></i>
                    </div>
                    <input 
                    type="text" 
                    placeholder="Scrivi messaggio" 
                    v-model="userMessage"
                    @keyup.enter="addMessage"
                    >
                    <div class="chat-input-icon">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
                <!-- /Input section -->
            </section>
            
        </div>
    </div>
    <!-- Scripts -->
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>